@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #007AF3;
}

body {
    background: #f1e6e6;
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    background:white;
    padding: 1em;

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;

        span {
            color: var(--primary-color);
        }
    }
    nav {
        display: none;
    }
    
    .container {
        display: flex;
        place-content: space-between;
    }


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


section {
    padding: 5em;
}

.hero {
    text-align: center;
}

.left-col {
    .sub-head {
        text-transform: uppercase;
        color: gray;
        font-weight: bold;
        letter-spacing: .3em;
    }

    h1 {
        font-size: 2.5em;
    }
}

.right-col {
    #custom-button {
        padding: 10px;
        color: white;
        background-color: #009578;
        border: 1px solid #000;
        border-radius: 5px;
        cursor: pointer;
    }

    #custom-button:hover {
        background-color: #00b2f8;
    }

    #custom-text {
        margin-left: 10px;
        color: #aaa;
    }
}